* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background: url(https://wallpapercave.com/wp/7KOoNAq.jpg) no-repeat center center fixed;
  background-size: cover;
}

#header {
  font-family: 'Black Ops One', cursive;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h1 {
  margin: .5rem 0;
  color: #CA3142;
}
#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Black Ops One', cursive;
  margin-bottom: 1rem;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

#reset {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: .75rem;
}

#button {
  margin-bottom: 2rem;
}

.shake-board {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}